---
- name: User setup
  hosts: prod
  become: true
  vars_files:
    - ../environments/{{ deploy_env | default('production') }}.yml
  tasks:
    - name: Create user that will run gardener apps
      ansible.builtin.user:
        name: "{{ system_username }}"
        generate_ssh_key: no
        shell: /bin/bash
        create_home: true
        state: present
        uid: "{{ unix_user_id }}"

    - name: Allow user's apps to write logs in /var/log
      ansible.builtin.user:
        name: "{{ system_username }}"
        groups: syslog,systemd-journal
        append: yes

- name: Base setup
  hosts: all
  become: true
  vars_files:
    - ../environments/{{ deploy_env | default('production') }}.yml
  roles:
    - role: oefenweb.locales
      when: ansible_os_family == "Debian"
    - role: geerlingguy.nodejs
    - role: geerlingguy.security
    - role: geerlingguy.firewall

  tasks:
    - name: Run the equivalent of "apt-get update" as a separate step
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: "install important additional packages for Radicle"
      package:
        name:
          # For the Radicle installer
          - curl

          # Radicle is built on git.
          - git

          # helps debug out of disk space issues
          - ncdu

          - btop
          - make
          - unzip
          - postgresql-client
  handlers:
    - name: reload systemd
      systemd:
        daemon_reload: yes
