- name: Ensure podman is installed
  ansible.builtin.import_playbook: 2_podman.yml

- name: Prepare Setup for Gardener node
  hosts: all
  gather_facts: no
  become: true
  become_user: "{{ system_username }}"
  tasks:
    # Setup Application Environment
    - name: Create necessary directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ system_username }}"
        group: "{{ system_group }}"
        mode: 0755
      with_items:
        - "{{ config_dir }}"
        - "{{ config_dir }}/systemd/user"
        - "{{ config_dir }}/radicle"
        - "{{ data_dir }}"
        - "{{ data_dir }}/radicle"
        - "{{ data_dir }}/radicle/profiles"
        - "{{ bin_dir }}"
        - "{{ postgres_data_dir }}"

    # Install Radicle CLI
    - name: Check if Radicle CLI is installed
      stat:
        path: /home/{{ system_username }}/.radicle/bin/rad
      register: rad_installed

    - name: Fetch radicle installation script
      get_url:
        url: https://radicle.xyz/install
        dest: /tmp/radicle_install.sh
        mode: "0755"
      when: not rad_installed.stat.exists

    - name: Install latest radicle binaries
      command: /tmp/radicle_install.sh
      when: not rad_installed.stat.exists

    - name: Update PATH in .bashrc
      lineinfile:
        path: /home/{{ system_username }}/.bashrc
        line: 'export PATH="$HOME/.radicle/bin:$PATH"'
        create: yes
        owner: "{{ system_username }}"
        group: "{{ system_group }}"

    - name: Update PATH in .profile
      lineinfile:
        path: /home/{{ system_username }}/.profile
        line: 'export PATH="$HOME/.radicle/bin:$PATH"'
        create: yes
        owner: "{{ system_username }}"
        group: "{{ system_group }}"

    # Setup systemd user service directory
    - name: Create systemd user directory
      file:
        path: /home/{{ system_username }}/.config/systemd/user
        state: directory
        owner: "{{ system_username }}"
        group: "{{ system_group }}"
        mode: 0755

- name: Setup database
  hosts: dev
  gather_facts: no
  become: true
  become_user: "{{ system_username }}"
  tasks:
    - name: Run Postgres container
      containers.podman.podman_container:
        name: postgres
        image: docker.io/library/postgres:18-alpine
        state: started
        restart_policy: always
        env:
          POSTGRES_USER: "{{ postgres_user }}"
          POSTGRES_PASSWORD: "{{ postgres_password }}"
          POSTGRES_DB: "{{ postgres_db }}"
        ports:
          - "{{ postgres_port }}:5432"
        volumes:
          - "{{ postgres_data_dir }}:/var/lib/postgresql/data:Z"
        healthcheck: CMD pg_isready -U {{ postgres_user }} -d {{ postgres_db }}
        healthcheck_retries: 6
        healthcheck_interval: 10s
        healthcheck_timeout: 5s
        healthcheck_start_period: 5s
