- name: Install systemd and container monitoring
  hosts: "{{ deploy_env | default('production') }}"
  gather_facts: no
  vars_files:
    - ../environments/{{ deploy_env | default('production') }}.yml
  tasks:
    - name: Install radicle-node storage monitoring script
      template:
        src: ../templates/folder_size_exporter.sh.j2
        dest: "{{ bin_dir }}/folder_size_exporter.sh"
        owner: "{{ system_username }}"
        group: "{{ system_group }}"
        mode: "0775"

    - name: Enable radicle-node storage monitoring
      ansible.builtin.cron:
        name: "check node storage"
        minute: "*/10"
        job: "{{ bin_dir }}/folder_size_exporter.sh --directory {{ profile_storage_path }} --output /var/lib/alloy/textfile_collector/folder_sizes.prom"

    - name: Create Systemd-Exporter Quadlet
      containers.podman.podman_container:
        name: systemd_exporter
        image: "quay.io/prometheuscommunity/systemd-exporter:main"
        command:
          - --log.level=info
          - --systemd.collector.user
          - --systemd.collector.enable-restart-count
          - --systemd.collector.enable-ip-accounting
          - --systemd.collector.unit-include=always-on-node.service
        env:
          XDG_RUNTIME_DIR: "/run/user/{{ unix_user_id }}"
        ports:
          - "{{ systemd_exporter_port }}:9558"
        volumes:
          - "/proc:/host/proc:ro"
          - "/run/systemd:/run/systemd:ro"
          - "/run/user/{{ unix_user_id }}:/run/user/{{ unix_user_id }}:ro"
        user: "{{ unix_user_id }}:{{ unix_group_id }}" # important that systemd_exporter runs as the same user
        userns_mode: "keep-id:uid={{ unix_user_id }},gid={{ unix_group_id }}"
        state: quadlet
        restart_policy: on-failure
        log_driver: journald
        recreate: true
        annotation:
          org.systemd.property.KillMode: "'none'"
        quadlet_options:
          - "AutoUpdate=local"
          #          - "Pull=newer"
          - |
            [Unit]
            After=podman-user-wait-network-online.service

            [Install]
            WantedBy=default.target
      notify:
        - reload systemd
        - restart systemd_exporter

    - name: Ensure systemd has reloaded services
      meta: flush_handlers

    - name: Enable systemd monitoring services
      systemd:
        name: "systemd_exporter.service"
        enabled: yes
        state: started
        scope: user
        daemon_reload: yes

  handlers:
    - name: reload systemd
      systemd:
        daemon_reload: yes
        scope: user
    - name: restart systemd_exporter
      systemd:
        name: "systemd_exporter.service"
        state: restarted
        scope: user

- name: Install cAdvisor
  hosts: "{{ deploy_env | default('production') }}"
  become: true
  vars_files:
    - ../environments/{{ deploy_env | default('production') }}.yml
  tasks:
    - name: Create cAdvisor Quadlet
      containers.podman.podman_container:
        name: cadvisor
        image: "gcr.io/cadvisor/cadvisor:v0.55.1"
        command:
          - "--podman=unix:///var/run/podman/podman.sock"
          - "--housekeeping_interval=10s"
          - "--store_container_labels=false"
          - "--whitelisted_container_labels=component,app,garden_user,node_id"
        ports:
          - "{{ cadvisor_port }}:8080"
        volumes:
          - "/:/rootfs:ro"
          - "/dev/disk/:/dev/disk:ro"
          - "/etc/machine-id:/etc/machine-id:ro"
          - "/var/lib/dbus/machine-id:/var/lib/dbus/machine-id:ro"
          - "/var/run:/var/run:rw"
          - "/sys:/sys:ro"
          - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
          - "/var/lib/containers:/var/lib/containers:ro"
          - "/run/user/{{ unix_user_id }}/podman/podman.sock:/var/run/podman/podman.sock:ro"
        privileged: true
        state: quadlet
        restart_policy: on-failure
        log_driver: journald
        recreate: true
        quadlet_options:
          - "AutoUpdate=local"
          - |
            [Unit]
            After=podman-user-wait-network-online.service

            [Install]
            WantedBy=default.target
      notify:
        - reload systemd
        - restart cadvisor
    - name: Enable container monitoring services
      systemd:
        name: "cadvisor.service"
        enabled: yes
        state: started
        daemon_reload: yes

  handlers:
    - name: reload systemd
      systemd:
        daemon_reload: yes
    - name: restart cadvisor
      systemd:
        name: "cadvisor.service"
        state: restarted

- name: Install Alloy
  hosts: "{{ deploy_env | default('production') }}"
  become: true
  vars_files:
    - ../environments/{{ deploy_env | default('production') }}.yml

  tasks:
    - name: Allow other users to read subdirectories in Alloy working dir
      ansible.builtin.file:
        path: "/var/lib/alloy"
        state: directory
        mode: "0755"

    - name: Ensure alloy can read journald
      ansible.builtin.file:
        path: /var/log/journal
        group: systemd-journal
        recurse: true

    - name: Install Alloy
      ansible.builtin.include_role:
        name: grafana.grafana.alloy
      vars:
        alloy_user_groups:
          - systemd-journal
        alloy_config: "{{ lookup('ansible.builtin.template', '../templates/alloy_config.j2') }}"

    - name: Create output directory for textfile collector
      ansible.builtin.file:
        path: "/var/lib/alloy/textfile_collector"
        owner: "{{ system_group }}"
        group: "alloy"
        state: directory

    - name: Restart Alloy to pick up group membership
      ansible.builtin.systemd:
        name: alloy
        state: restarted
        daemon_reload: yes
