[Unit]
Description=always-on-node

[Service]
ExecStart=/usr/bin/node --env-file={{ config_dir }}/radicle/always-on-node_env {{ app_dir }}/current/build
Restart=on-failure
WorkingDirectory={{ app_dir }}/current


[Install]
WantedBy=default.target